<label>Nome</label>
<input type="text" [(ngModel)]="userProfile.name"><br>
<label>E-mail</label>
<input type="text"[(ngModel)]="userProfile.email"><br>
<label>Telefone</label>
<input type="text" [(ngModel)]="userProfile.telefone"><br>
<label>Endereço</label>
<input type="text" [(ngModel)]="userProfile.endereco"><br>
<label>Idade</label>
<input type="text" [(ngModel)]="userProfile.idade"><br>
<label>Preferencia</label>
<select name="linguagens" id="ling" [(ngModel)]="userProfile.preferencia">
   <option [value]="preference" *ngFor="let preference of options">{{preference}}</option>
</select><br>
<button (click)="functionToCallFormOpen(); updateProfile($event)" >Enviar</button>