<label>Nome</label>
<input type="text" [(ngModel)]="userProfile.name"><br>
<label>E-mail</label>
<input type="text"[(ngModel)]="userProfile.email"><br>
<label>Telefone</label>
<input type="text" [(ngModel)]="userProfile.telefone"><br>
<label>Endereço</label>
<input type="text" [(ngModel)]="userProfile.endereco"><br>
<label>Idade</label>
<input type="text" [(ngModel)]="userProfile.idade"><br>
<label>Preferencia</label>
<select name="linguagens" id="ling" [(ngModel)]="userProfile.preferencia">
    <option value="C#">C#</option>
    <option value="C++">C++</option>
    <option value="C">C</option>
    <option value="Python">Python</option>
    <option value="PHP">PHP</option>
    <option value="HTML">HTML</option>
    <option value="JavaScript">JavaScript</option>
    <option value="Ruby">Ruby</option>
    <option value="R">R</option>
    <option value="Lisp">Lisp</option>
    <option value="Java">Java</option>
</select><br>
<button (click)="functionToCallFormOpen(); updateProfile($event)" >Enviar</button>